<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="{{url_for('history.static', filename='css/style.css')}}">
</head>

<body>
    <header>
        <div class="logo">FIRST CRY </div>
    </header>
    <div class="container">

        <head>
            <h1>Order History</h1>
        </head>
    </div>

    <div id="history_container">

    </div>
</body>

</html>