 <!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <head>
            <h1>Order History</h1>
        </head>
        <div class="order">
            <div class="order-header">
                <div>
                    <p><strong>Order Placed:</strong>04 July 2024</p>
                    <p><strong>Total:</strong> $125.00</p>
                    <p><strong>Ship To:</strong> Mohammed Faisal</p>
                </div>
                <div>
                    <button class="button">View Order Details</button>
                    <button class="button">Invoice</button>
                </div>
                <div class="order-status">
                    <h2>Refund issued</h2>
                    <p>A refund will appear on your original payment method in 2-4 business days. </p>
                </div>
                <div class="order-item">
                    <img  src="C:\Users\faisa\Python Programming Project\first-cry\Orders\Static\images\Toy 1 car.png" alt="cartoy">
                    <p>Car Toy for kids </p>
                </div>
            </div>
        </div>
        <script src="scripts.js"></script>
    </body>
    </html>
