 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">FIRST CRY </div>
    </header>
    <div class="container">
        <head>
            <h1>Order History</h1>
        </head>
    </div>

        <div class="product-detail">
            <div class="product-images">
                <img src="ff1.png" alt="Product Image" class="main-image">
            </div>
            <div class="product-info">
                <h1>Remote Control Disney Cars 3 </h1>
                <p class="price">$59.00</p>
                <p class="order status">Order status:Order Placed</p>
                <p class="description">Product Description:Take on the bravest driving manoeuvres with the Disney Cars Lightning McQueen Turbo Racer remote-control car.

                    Total Control
                    Race forward, reverse and turn with full function radio control. These Disney RC cars have full steering capabilities for smooth handling on tricky turns. The easy-to-use 2-channel radio remote control makes it easy for the little ones to steer the vehicle in all four directions.
                    
                    Turbo Boost
                    If the race is neck-and-neck, use the turbo function to zoom past your rival! This RC car toy quickly takes pole position and leaves the competition behind. Challenge your friends for endless racing fun and put their RC cars to the test!</p>
                <button>View seller feedback</button>
            </div>
        </div>
        
        <div class="product-detail">
            <div class="product-images">
                <img src="ff2.png" alt="Product Image" class="main-image">
            </div>
            <div class="product-info">
                <h1>Roar Mask Dinosaur Toy</h1>
                <p class="price">$35.99</p>
                <p class="order status">Order status:Refund Issued</p>
                <p class="description">Product Description:Get ready for thrilling action and exciting adventures with Jurassic World: Dominion! This Chomp 'N Roar Tyrannosaurus Rex Mask lets kids become a T. rex with realistic details like skin texture and colour, teeth and eyebrows that move as it gets angrier and angrier!

                    As the jaw of the electronic role play mask is opened to wider and wider angles, there are three levels of sound effects that really make the mask roar into action and let kids chomp through playtime. A secure strap ensures a comfortable fit, as well as eye and nose openings for visibility. For ages 6 years old and up. Colours and decorations may vary.</p>
                    <button>View seller feedback</button>
            </div>

            <div class="product-detail">
                <div class="product-images">
                    <img src="ff3.png" alt="Product Image" class="main-image">
                </div>
                <div class="product-info">
                    <h1>LEGO City Express Passenger Toy Train</h1>
                    <p class="price">$15.99</p>
                    <p class="order status">Order status:Order Delivered</p>
                    <p class="description">Product Description:
                        All aboard the LEGO City Express Passenger Train (60337) set, featuring a remote control train toy for kids 7+ years old. The remote-controlled bullet engine with working, dimmable headlights and LEGO Powered Up technology is sure to impress any child or train fanatic.
                        
                        Detailed LEGO Train Set
                        This toy train set includes a restaurant car, a passenger coach, and a station platform. Assemble your LEGO City set with the 24 LEGO train track pieces and six minifigures. There are also accessories like a laptop, phone, bike and helmet, wheelchair, briefcase, backpack and a toy hotdog to inspire endless hours of train-themed role play.
                        
                        So Much to Explore
                        With the LEGO City Express Passenger Train, kids can board the restaurant car for a drink and a croissant during the journey. They can also hop on the passenger coach where there’s room for their baggage and bike. Once aboard this LEGO train, they can take a seat at their preferred table and enjoy the ride!
                        
                        Buildable LEGO Train
                        This amazing buildable LEGO set comes with an easy-to-follow building guide for each model. LEGO City playsets take kids to the heart of the action with realistic vehicles, feature-rich structures and inspiring characters. Kids learn about the world around them as they play out stories and scenarios that depict life in a fun and exciting way.</p>
                        <button>View seller feedback</button>
                </div>

                <div class="product-detail">
                    <div class="product-images">
                        <img src="ff4.png" alt="Product Image" class="main-image">
                    </div>
                    <div class="product-info">
                        <h1>Fisher-Price Little People Barbie Dream Plane</h1>
                        <p class="price">$10.50</p>
                        <p class="order status">Order status:Order Delivered</p>
                        <p class="description">Product Description
Toddlers can take to the skies for imaginative adventures with the Fisher-Price Barbie Little Dream Plane by Little People. This push- along Barbie airplane features a light-up nose and fun sounds for imaginative play.

Barbie Plane Set
Kids can board the 3 toy figures onto the Fisher-Price Barbie airplane. Stow the luggage, serve beverages from the sliding cart, and send the crew and passengers soaring into all kinds of exciting Barbie adventures.

Interactive Barbie Playsets
Use the globe button to select a language: English, German, French. This Fisher-Price Barbie airplane also features fun music, sounds and phrases to enhance your toddler’s storytelling play.</p>
                            <button>View seller feedback</button>
                    </div>
        </div> 
    </body>
    </html>
