@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");
body {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f89cab;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}


.navbar-brand {
  margin: 15px 0;
  padding: 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  align: center;
}

.custom_nav-container .nav_search-btn {
  padding: 0;
  border: none;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-box,
.btn-primary {
  width: 100px; /* Ensure both have the same width */
  padding: 5px; /* Adjust padding as needed */
  border-radius: 4px;
  font-size: 14px; /* Ensure both have the same font size */
}

.mt-4.d-flex .input-box {
  margin-right: 10px; /* Add space between input and button */
}

.btn-primary {
  padding: 5px 10px; /* Adjust padding to match input box height */
}

.dropdown {
  margin-top: 10px; 
}

.dropdown-toggle {
  background-color: #6c757d; 
  color: white; 
  border: none;
  border-radius: 4px; 
  padding: 10px 55px; 
  font-size: 14px;
}

.dropdown-toggle:focus {
  outline: none; 
  box-shadow: none; 
}

.dropdown-menu {
  border-radius: 4px; 
  border: 1px solid #ced4da; 
}

.dropdown-item {
  padding: 10px 20px; 
  color: #101010;
}

.dropdown-item:hover {
  background-color: #f8f9fa; 
  color: #000; 
}
