<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"> -->

  <title>
    Admin 
  </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap admin.css" />

  <!-- Custom styles for this template -->
  <link href="../static/css/admin.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive admin.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="home.html">
          <span>
            FIRST CRY
          </span>
        </a>
    </header>

    <div class="row justify-content-center mb-3">
        <div class="col-md-12">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row g-0">
                <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                    <img src="https://image.smythstoys.com/zoom/230768_1.jpg" class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-md-5 col-sm-7"><br>
                  <h5>Grow’n Up Adjustable Basketball Stand</h5>
                  <div class="d-flex flex-row">
                    <div class="text-warning mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div><br><br>

                  <p class="text mb-4 mb-md-0">
                    The Grow’n Up Adjustable Basketball Stand has 6 adjustable heights from 65cm to 137cm to suit all ages! With the included ball and pump, this basketball stand grows with kids for long-lasting active play, while they get moving and practice their basketball skills.

Suitable for indoor and outdoor use, this adjustable basketball hoop and stand includes an inflatable basketball, so little sports stars can get playing right away. Perfect for developing motor skills, hand- eye coordination and confidence during active play!
                  </p>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-5">
                    <br><br><br><br>
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">€39,99</h4>
                  </div>
                  <div class="mt-4">
                    <button class="btn btn-primary shadow-0" type="button">Add</button>
                    <button class="btn btn-primary shadow-1" type="button">next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-3">
        <div class="col-md-12">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row g-0">
                <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                    <img src="https://image.smythstoys.com/zoom/230768_1.jpg" class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-md-5 col-sm-7"><br>
                  <h5>Grow’n Up Adjustable Basketball Stand</h5>
                  <div class="d-flex flex-row">
                    <div class="text-warning mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div><br><br>

                  <p class="text mb-4 mb-md-0">
                    The Grow’n Up Adjustable Basketball Stand has 6 adjustable heights from 65cm to 137cm to suit all ages! With the included ball and pump, this basketball stand grows with kids for long-lasting active play, while they get moving and practice their basketball skills.

Suitable for indoor and outdoor use, this adjustable basketball hoop and stand includes an inflatable basketball, so little sports stars can get playing right away. Perfect for developing motor skills, hand- eye coordination and confidence during active play!
                  </p>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-5">
                    <br><br><br><br>
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">€39,99</h4>
                  </div>
                  <div class="mt-4">
                    <button class="btn btn-primary shadow-0" type="button">Add</button>
                    <button class="btn btn-primary shadow-1" type="button">next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-3">
        <div class="col-md-12">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row g-0">
                <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                    <img src="https://image.smythstoys.com/zoom/230768_1.jpg" class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-md-5 col-sm-7"><br>
                  <h5>Grow’n Up Adjustable Basketball Stand</h5>
                  <div class="d-flex flex-row">
                    <div class="text-warning mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div><br><br>

                  <p class="text mb-4 mb-md-0">
                    The Grow’n Up Adjustable Basketball Stand has 6 adjustable heights from 65cm to 137cm to suit all ages! With the included ball and pump, this basketball stand grows with kids for long-lasting active play, while they get moving and practice their basketball skills.

Suitable for indoor and outdoor use, this adjustable basketball hoop and stand includes an inflatable basketball, so little sports stars can get playing right away. Perfect for developing motor skills, hand- eye coordination and confidence during active play!
                  </p>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-5">
                    <br><br><br><br>
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">€39,99</h4>
                  </div>
                  <div class="mt-4">
                    <button class="btn btn-primary shadow-0" type="button">Add</button>
                    <button class="btn btn-primary shadow-1" type="button">next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-3">
        <div class="col-md-12">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row g-0">
                <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                    <img src="https://image.smythstoys.com/zoom/230768_1.jpg" class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-md-5 col-sm-7"><br>
                  <h5>Grow’n Up Adjustable Basketball Stand</h5>
                  <div class="d-flex flex-row">
                    <div class="text-warning mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div><br><br>

                  <p class="text mb-4 mb-md-0">
                    The Grow’n Up Adjustable Basketball Stand has 6 adjustable heights from 65cm to 137cm to suit all ages! With the included ball and pump, this basketball stand grows with kids for long-lasting active play, while they get moving and practice their basketball skills.

Suitable for indoor and outdoor use, this adjustable basketball hoop and stand includes an inflatable basketball, so little sports stars can get playing right away. Perfect for developing motor skills, hand- eye coordination and confidence during active play!
                  </p>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-5">
                    <br><br><br><br>
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">€39,99</h4>
                  </div>
                  <div class="mt-4">
                    <button class="btn btn-primary shadow-0" type="button">Add</button>
                    <button class="btn btn-primary shadow-1" type="button">next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-3">
        <div class="col-md-12">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row g-0">
                <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                    <img src="https://image.smythstoys.com/zoom/230768_1.jpg" class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-md-5 col-sm-7"><br>
                  <h5>Grow’n Up Adjustable Basketball Stand</h5>
                  <div class="d-flex flex-row">
                    <div class="text-warning mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div><br><br>

                  <p class="text mb-4 mb-md-0">
                    The Grow’n Up Adjustable Basketball Stand has 6 adjustable heights from 65cm to 137cm to suit all ages! With the included ball and pump, this basketball stand grows with kids for long-lasting active play, while they get moving and practice their basketball skills.

Suitable for indoor and outdoor use, this adjustable basketball hoop and stand includes an inflatable basketball, so little sports stars can get playing right away. Perfect for developing motor skills, hand- eye coordination and confidence during active play!
                  </p>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-5">
                    <br><br><br><br>
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">€39,99</h4>
                  </div>
                  <div class="mt-4">
                    <button class="btn btn-primary shadow-0" type="button">Add</button>
                    <button class="btn btn-primary shadow-1" type="button">next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />


    </div>
  </div>
</div>
</section>

</body>

</html>