<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>
    FIRST CRY 
  </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='css/bootstrap.css')}}" />

  <!-- Custom styles for this template -->
  <link href="{{url_for('home.static', filename='css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{url_for('home.static', filename='css/responsive.css')}}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="home.html">
          <span>
            FIRST CRY
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home.go_to_sell')}}">
                PRODUCT SALE
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home.go_to_history')}}">
                PRODUCT STATUS
              </a>
            </li>
          </ul>
          <div class="user_option" id="login_container">
            
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->
    <!-- slider section -->

    <section class="slider_section">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Welcome to First Cry <br>
                        your trusted destination for second-hand kids' toys!
                      </h1>
                      <p>
                        At First Cry, we believe in giving toys a second chance and bringing joy to children at an affordable price. Explore our wide selection of gently used, high-quality toys that spark creativity and fun. Join us in promoting sustainability while making your child's playtime special and memorable. Happy shopping!
                      </p>
                      <a href="#footer">
                        Contact Us
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="{{url_for('home.static', filename='images/slider-img.png')}}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Products
        </h2>
      </div>
      <div class="row" id="home_container">
        
      </div>
      <!-- <div class="btn-box">
        <a href="">
          View All Products
        </a>
      </div> -->
    </div>
  </section>

  <!-- end shop section -->

  <!-- saving section -->

  <section class="saving_section ">
    <div class="box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="img-box">
              <img src="{{url_for('home.static', filename='images/saving-img.png')}}" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Join Us to Share Your Treasures <br>
                </h2>
              </div>
              <p>
                Join Us to Share Your Treasures: Become a part of the First Cry community by sharing your gently used toys. Help bring joy to other children while earning from your preloved items. Sign up now and start selling!
              </p>
              <div class="btn-box">
                <a href="#" class="btn1">
                  Login 
                </a>
                <a href="#" class="btn2">
                  Register
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end saving section -->

  

  <!-- info section -->

  <section class="info_section  layout_padding2-top">
    <div class="social_container">
      <div class="social_box">
        <a href="https://www.facebook.com/FirstCryIndia/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://x.com/firstcryindia">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/firstcryindia/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCXQjmZLatydSOHhbOA8-kqw">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
            <p>
              Firstcry is Asia's largest online store for baby and kids products. We cater to the needs of our buyers (mothers buying for their kids) from before the kid is born upto his/her early teens.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
            buying from Firstcry?
            </h6>
            <p>
              We want to offer the best possible deal for our customers for the products that we all want to buy for our children. Our endeavour is to ensure that you get the widest possible choice of top rated brands and products at the best possible Price.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              Note:
            </h6>
            <p>
              Firstcry will never contact you for cash prizes or deposit money for photoshoot or franchise or distributorship or request a password, PIN or CVV etc. Please refrain from sharing such sensitive information with anyone, as it could lead to fraudulent transactions.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Rajashree Business Park, Plot No 114, Survey No 338,
                      Tadiwala Road, Nr. Sohrab Hall, Pune-411001.</span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+01 12345678901</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> customercare@firstcry.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <footer class=" footer_section" id="footer">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By First Cry
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </section>

  <!-- end info section -->

  <script>
    const getDataUrl = "{{url_for('home.getProducts')}}"
    const getLoginUrl = "{{url_for('home.go_to_login')}}"
    const productImageUrl = "{{ url_for('download_file', filename='') }}";
    const hasSessionUrl = "{{ url_for('home.hasSession') }}";
  </script>
  <script src="{{ url_for('home.static', filename='js/script.js') }}"></script>

  <!-- <script src="{{url_for('home.static', filename='js/jquery-3.4.1.min.js')}}"></script> -->
  <!-- <script src="{{url_for('home.static', filename='js/bootstrap.js')}}"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> -->
  <!-- <script src="{{url_for('home.static', filename='js/custom.js')}}"></script> -->

</body>

</html>