<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>FIRST CRY</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="banner">
        <header>
            <nav>
                <div class="navbar">
                    <img class="logo" style="height: 19%; width: 11%;" src="../static/image/logo.png" alt="">
                    <ul>
                        <li><a href="#Sellproducts">Sall Products</a></li>
                        <li><a href="#productstatus">Product Status</a></li>
                        <li><a href="#login">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="home" id="home">
            <div class="content">
                <h1><span style="color: black;">SALE OF USED TOYS FOR THE ONE IN NEED</span><BR>EVERY TOY IS A TREASURE</BR></h1>
                <div>
                    <button onclick="location.href='';" class="home-button" type="button">SELL NOW</button>
                </div>
            </div>
        </section>
    </div>
    <section id="aboutus" class="aboutus-section">
        <div class="heading">
            <h1>About <span style="color: black;">Us</span></h1>
        </div>
        <div class="container">
            <div class="aboutus-content">
                <h2>WELCOME To First Cry Toys</h2>
                <p>We are India's largest multi-channel retailing platform for Mothers', Babies' and Kids' Products.Our company philosophy is pretty simple: We want to offer the best possible deal for our customers for the products that we all want to buy for our children. Our endeavour is to ensure that you get the widest possible choice of top rated brands and products at the best possible price anywhere in India combined with best possible service and timely delivery of products at your doorstep.</p>
                <br><br>
                We sell products of all the leading brands for babies and kids.Firstcry is Asia's largest online store for baby and kids products. We cater to the needs of our buyers (mothers buying for their kids) from before the kid is born upto his/her early teens.
            </div>
            <div class="aboutus-image">
                <img src="../static/image/About us.jpeg" alt="image">
            </div>
        </div>
    </section>
    <footer>
        <section id="footer">
            <div class="footer-box">
                <div class="footer-content">
                    <h3>Contact Us</h3>
                    <p>email:customercare@firstcry.com</p>
                    <p>Address: Digital Age Retail Private Limited
                        Rajashree Business Park, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3rd Floor,
                        Survey No. 338 Next to Sohrabh Hall,
                        Tadiwala Road <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pune - 411001, Maharashtra </p>
                    <p>Timings:09:00 am to 06:00 pm (Mon-Sun)</p>
                </div>
                <div class="footer-content">
                    <h3>Quick Links</h3>
                    <ul class="List">
                        <li><a href="">Home</a></li>
                        <li><a href="">Product Sale</a></li>
                        <li><a href="">Product Lists</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Follow Us</h3>
                    <ul class="social-icons">
                        <li><a href="https://www.instagram.com/firstcryindia/"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/FirstCryIndia/"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://x.com/firstcryindia"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="footer-bar">
                 <p>&copy; 2024 Firstcry. All Rights Reserved</p>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>